<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/js/tabulator.min.js" type="text/javascript"></script>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/navbar.css" rel="stylesheet" />
    <link href="/css/settings.css" rel="stylesheet" />
    <link href="/css/tabulator.min.css" rel="stylesheet" />

    <title>PFM Settings</title>
  </head>
  <body class="background">
    <header><%- include("../partials/dashboardNavbar.ejs") %></header>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="mt-5 text-center">Settings</h1>
        </div>
        <div class="row mt-3">
          <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="/settings/general">General</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/settings/directories"
                >Directories</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Placeholder</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-5 text-center">
        <button
          type="button"
          class="btn btn-outline-plex"
          data-bs-toggle="modal"
          data-bs-target="#newFilesystemModal"
        >
          Add new Directory
        </button>
      </div>
      <div
        class="modal fade"
        id="newFilesystemModal"
        tabindex="-1"
        aria-labelledby="newFilesystemModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <form method="post" action="/api/v1/settings/directory">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="newFilesystemModalLabel">
                  Add new Directory
                </h5>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <label for="inputName" class="form-label">Name *</label>
                      <input
                        type="text"
                        class="form-control"
                        id="inputName"
                        name="inputName"
                        placeholder="e.g. Downloads, Movies, TV Shows"
                      />
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <label for="inputType" class="form-label">Type *</label>
                      <select
                        id="inputType"
                        name="inputType"
                        class="form-select"
                      >
                        <option value="download">Downloads</option>
                        <option value="movie">Movies</option>
                        <option value="tv">TV Shows</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <label for="inputUrl" class="form-label"
                        >Networkshare *</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="inputUrl"
                        name="inputUrl"
                        placeholder="e.g. \\hostname\share\foldername"
                      />
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-6">
                      <label for="inputUsername" class="form-label"
                        >Username</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="inputUsername"
                        name="inputUsername"
                        placeholder="e.g. administrator"
                      />
                    </div>
                    <div class="col-6">
                      <label for="inputPassword" class="form-label"
                        >Password</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="inputPassword"
                        name="inputPassword"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-plex">Save changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="container">
        <div class="row mt-5 text-center">
          <div class="col">
            <h1>Directories</h1>
          </div>
        </div>
        <div class="row mt-5 text-center">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Filename</th>
                <th scope="col">URL</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody id="tbody"></tbody>
          </table>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="changeDirectoryModal"
      tabindex="-1"
      aria-labelledby="changeDirectoryModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changeDirectoryModalLabel">
              Change Directory
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    id="inputIdDirectory"
                    name="inputIdDirectory"
                    disabled
                    style="display: none"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="inputNameDirectory" class="form-label"
                    >Name *</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputNameDirectory"
                    name="inputNameDirectory"
                  />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <label for="inputTypeDirectory" class="form-label"
                    >Type *</label
                  >
                  <select
                    id="inputTypeDirectory"
                    name="inputType"
                    class="form-select"
                  >
                    <option value="download">Downloads</option>
                    <option value="movie">Movies</option>
                    <option value="tv">TV Shows</option>
                  </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <label for="inputUrlDirectory" class="form-label"
                    >Networkshare *</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputUrlDirectory"
                    name="inputUrlDirectory"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              onclick="deleteDirectory()"
            >
              Delete
            </button>
            <button
              type="submit"
              class="btn btn-plex"
              data-bs-dismiss="modal"
              onclick="updateDirectory()"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  function getDirectories() {
    return new Promise(async (resolve, reject) => {
      let response = await fetch("/api/v1/settings/directory");
      let data = await response.text();
      resolve(JSON.parse(data));
    });
  }

  async function updateDirectory() {
    let _id = document.getElementById("inputIdDirectory").value;
    let name = document.getElementById("inputNameDirectory").value;
    let type = document.getElementById("inputTypeDirectory").value;
    let url = document.getElementById("inputUrlDirectory").value;

    const obj = {
      _id: _id,
      name: name,
      type: type,
      url: url,
    };

    const response = await fetch("/api/v1/settings/directory", {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(obj),
    });
    const content = await response.json();

    if (content.error) {
      return alert(content.error);
    }

    document.getElementById("tbody").innerHTML = "";
    await drawTable();
  }
  async function deleteDirectory() {
    let _id = document.getElementById("inputIdDirectory").value;

    const response = await fetch("/api/v1/settings/directory", {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ _id: _id }),
    });
    const content = await response.json();
    console.log(content);

    if (content.error) {
      return alert(content.error);
    }
    document.getElementById("tbody").innerHTML = "";
    await drawTable();
  }

  function drawTable() {
    getDirectories().then((data) => {
      if (data[0]) {
        for (const obj of data) {
          let tr = document.createElement("tr");
          tr.id = obj._id;
          tr.onclick = function () {
            let modal = new bootstrap.Modal(
              document.getElementById("changeDirectoryModal")
            );
            modal.show();
            document.getElementById("inputNameDirectory").value = obj.name;
            document.getElementById("inputTypeDirectory").value = obj.type;
            document.getElementById("inputUrlDirectory").value = obj.url;
            document.getElementById("inputIdDirectory").value = obj._id;
          };
          document.getElementById("tbody").appendChild(tr);

          let tdName = document.createElement("td");
          tdName.innerText = obj.name;

          let tdURL = document.createElement("td");
          tdURL.innerText = obj.url;

          let tdType = document.createElement("td");
          tdType.innerText = obj.type;

          tr.appendChild(tdName);
          tr.appendChild(tdURL);
          tr.appendChild(tdType);
        }
      }
    });
  }

  drawTable();
</script>
